[user]
	name  = Jimmy Börjesson

[alias]
	# Canonical shortcuts
	a   = add --all
	b   = branch
	cb  = checkout -b
	cl  = clone
	cm  = commit -m
	co  = checkout
	cv  = commit -v
	d   = diff
	ds  = diff --staged
	l   = log --oneline --decorate -15
	lo  = log --oneline --decorate
	s   = status --short
	st  = status

	# Personal shortcuts
	log-pretty = log --pretty='format:%C(yellow)%h %C(green)%<(18)%an %C(blue bold)%<(22)%ar   %Creset%s'

	# New git commands
	amend                = commit --amend
	context              = blame
	fix                  = commit --amend --no-edit
	force                = push --force-with-lease
	merged               = !git branch --merged | grep -Ev 'master|develop|production|staging|stable'
	merged-delete        = !git merged | xargs git branch -d
	pure                 = pull --rebase --autostash
	root                 = rev-parse --show-toplevel
	sha                  = "!f() { git rev-parse --short ${1:-HEAD}; }; f"
	sup                  = submodule update --init --recursive
	tags                 = tag -n --sort='-version:refname'
	todo                 = grep --line-number -E "(TODO|FIXME).*"
	tree                 = log --graph --oneline --decorate --all
	update-submodules    = submodule update --init --recursive

[core]
	excludesfile = ~/.gitignore

[color "diff"]
	meta = yellow

[fetch]
	prune = true

[diff]
	tool = vimdiff
[push]
	default = current
[pull]
	ff = only
