# Mac OSX
.DS_Store

# Sublime-stuff
*.ca-list
*.ca-bundle
*.cache
*.last-run

# If you want to version the sublime-project, you can use:
# git add -f your-project.sublime-project
*.sublime-project
*.sublime-workspace
