snippet cron
  ${1:* }  ${2:* }  ${3:* }  ${4:* }  ${5:* } ${6:command}$0
${7:# |   |   |   |   |
# |   |   |   |   +----- day of week (0 - 7) (Sunday is 0 or 7)
# |   |   |   +------- month (1 - 12)
# |   |   +--------- day of month (1 - 31)
# |   +----------- hour (0 - 23)
# +------------- min (0 - 59)}
endsnippet
