snippet html "Minimal HTML shell"
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>${1:title}</title>
    </head>
    <body>
        $0
    </body>
</html>
endsnippet

snippet t "tag"
<${1:tag}$2>
    $0
</$1>
endsnippet

snippet // "HTML comment"
<!-- $1 -->
endsnippet
