# A bit meta so needs hackery
snippet snip "Snippet definition" b
`!p snip.rv = "snippet"` ${1:trigger} "${2:Description}"
$0
`!p snip.rv = "endsnippet"`
endsnippet

snippet $ "Tabstop: ${1:default}" iw
\$\{${1:1}:${2:default}\}
endsnippet

snippet visual "Tabstop that wraps visual selection" w
\${${1:1}:\${VISUAL:${2:default}\}\}
endsnippet
