# Search completion with C-p and C-n, and with arrow keys
"\C-p": history-search-backward
"\C-n": history-search-forward
"\e[A": history-search-backward
"\e[B": history-search-forward

# case insensitive tab complete
set completion-ignore-case on

# Tab and S-Tab to cycle autocompletions
TAB: menu-complete
"\e[Z": "\e-1\C-i"
set show-all-if-ambiguous on
